<div class="padding">
  <div class="full col-sm-9">  
    <h3 class="center">Coming Soon... !!</h3>
  </div>
</div>

<!--  <div class="padding">
  <div class="full col-sm-9">
    <h1>Listing blogs</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Url</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><%= blog.title %></td>
              <td><%= blog.body %></td>
              <td><%= blog.url %></td>
              <td><%= blog.user.email %></td>
              <td><%= link_to 'Show', blog %></td>
              <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
              <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>

    <%= link_to 'New Blog', new_blog_path %>
   </div>
  </div>  
 -->