

<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 
<div class="field"> <%= f.label :email %>
   <br /> <%= f.email_field :email, autofocus: true %> 
</div>
<div class="field"> <%= f.label :password %><br /> 
   <%= f.password_field :password, autocomplete: "off" %> 
</div>
<% if devise_mapping.rememberable? -%> 
<div class="field"> <%= f.check_box :remember_me %> <%= f.label :remember_me %> </div>
<% end -%> 
<div class="actions"> <%= f.submit "Log in" %> </div>
<% end %> 
<!-- /main --> 
<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="text-center">Login</h1>
         </div>
         <div class="modal-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name),:class=>"form col-md-12 center-block") do |f| %> <!-- <form class="form col-md-12 center-block"> --> 
            <div class="form-group">
               <%= f.email_field :email, autofocus: true ,:class=>"form-control input-lg", :placeholder=>"Email"%> <!-- <input type="text" class="form-control input-lg" placeholder="Email"> --> 
            </div>
            <div class="form-group">
               <%= f.password_field :password, autocomplete: "off",:class=>"form-control input-lg", :placeholder=>"Password" %> <!-- <input type="password" class="form-control input-lg" placeholder="Password"> --> 
            </div>
            <% if devise_mapping.rememberable? -%> 
            <div class="field"> <%= f.check_box :remember_me %> <%= f.label :remember_me %> </div>
            <% end -%> 
            <div class="form-group"> <button class="btn btn-primary btn-lg btn-block">Sign In</button> <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span> </div>
            <!-- </form> --> <% end %> 
         </div>        
      </div>
   </div>
</div>
<%= render "devise/shared/links" %>

