<!DOCTYPE html>
<html>
<head>
  <title>Getintouch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7062675865990588",
    enable_page_level_ads: true
  });
</script>
</head>
<body>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- technicaltotke -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7062675865990588"
     data-ad-slot="5523337695"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1549989465270585';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% if user_signed_in? %>
  <%=render 'layouts/after_signed' %>
<%else%>
  <%= render 'layouts/befor_signedin'%>

<%end%>
<script type="text/javascript">
var infolinks_pid = 3056253;
var infolinks_wsid = 0;
</script>
<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
<div class="fb-share-button" data-href="http://yoyoruby.in" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fyoyoruby.in%2F&amp;src=sdkpreparse">Share</a></div>
</body>
</html>
