<!DOCTYPE html>
<html>
<head>
  <title>Getintouch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7062675865990588",
    enable_page_level_ads: true
  });
</script>
</head>
<body>
<% if user_signed_in? %>
  <%=render 'layouts/after_signed' %>
<%else%>
  <%= render 'layouts/befor_signedin'%>

<%end%>
	
</body>
</html>
